name: "Build and Push Docker Image"
run-name: Build and Push Docker Image on ${{ github.event_name }} by @${{ github.actor }}

on:
  workflow_dispatch: # Cho phép kích hoạt thủ công
    inputs:
      subversion:
        description: "SubVersion"
        required: false
        type: string

# Remove all permissions by default
permissions: write-all

env:
  SERVER: production

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # 1. Định nghĩa giá trị prefix
      - name: Define Prefix
        id: prefix
        run: echo "PREFIX=1.0" >> $GITHUB_ENV # Đặt giá trị prefix phiên bản

      # 2. Checkout code từ repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 3. Thiết lập số version tự động
      - name: Set Build Version
        id: versioning
        run: |
          BUILD_NUMBER=${{ github.run_number }}
          echo "VERSION=${{ env.PREFIX }}.${BUILD_NUMBER}" >> $GITHUB_ENV

      # 4. Đăng nhập vào GitHub Container Registry
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} # Sử dụng GitHub token mặc định

      # 5. Xây dựng Docker image
      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/nqdev-geoip:${{ env.VERSION }} \
                      -t ghcr.io/${{ github.repository_owner }}/nqdev-geoip:latest \
                      -f ./Dockerfile .

      # 6. Đẩy Docker image lên GitHub Container Registry
      - name: Push Docker Image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/nqdev-geoip:${{ env.VERSION }}
          docker push ghcr.io/${{ github.repository_owner }}/nqdev-geoip:latest
